*{
    margin: 0;
}

/* Login */

.login_background{
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Sign in */

.sign_background{
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_aside{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid #00000018;
}

.sign_container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.sign_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Home - Ledrian Interfaz */

.ledrianInterfaz{
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* HeaderNav */

.header_nav-container{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(13, 13, 13);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 10%;
}


/* Search input */

.search_input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    gap: 20px;
}

.search_input-container input{
    width: 70%;
    height: 30%;
    border: none;
    border-radius: 7px;
    background-color: #ffffff18;
    text-align: left;
    color: white;
    outline: none;
}

/* Nav */

.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.nav-container button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.nav-container button:hover{
    background-color: #ffffff18;
}

/* Nav Profile */

.nav_profile-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 100%;
    gap: 20px;
}

.nav_profile-container button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
}



/* Content Organization */

.content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
}


/* AsideProfile */

.aside_profile-container{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #171616;
}

.aside_profile-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.aside_profile-options button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    transition: 0.3s;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.aside_profile-options button:hover{
    background-color: #ffffff18;
}



/* Feed */

.feed-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* Suggestions Section */

.suggestions-section-container{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}